<p style="color: red"><%= notice %></p>

<h1>Sign in</h1>

<%= form_with url: session_path, method: :post do |form| %>

  <%= form.label :username, class: "form-label" %>
  <%= form.text_field :username, class: "form-control text-bg-dark  mb-3" %>
  <%= form.label :password, class: "form-label" %>
  <%= form.password_field :password, class: "form-control text-bg-dark  mb-3" %>

  <%= form.submit "Log in", class: "btn bg-dark btn-primary" %>
<% end %>