<p style="color: red"><%= notice %></p>

<h1>Sign in</h1>

<%= form_with url: session_path, method: :post do |form| %>
  username <%= form.text_field :username %>
  password <%= form.password_field :password %>
  <%= form.submit "Log in" %>
<% end %>