<h1>Beer clubs</h1>
<table id="beer_clubs" class="table table-dark table-striped">
  <thead>
  <th><%= link_to "Name", beer_clubs_path(order: "name") %></th>
  <th><%= link_to "City", beer_clubs_path(order: "city") %></th>
  <th><%= link_to "Founded", beer_clubs_path(order: "founded") %></th>
  </thead>

  <% @beer_clubs.each do |beer_club| %>
    <tr>
      <td><%= link_to beer_club.name, beer_club %></td>
      <td><%= beer_club.city %></td>
      <td><%= beer_club.founded %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New beer club", new_beer_club_path, class: "btn btn-outline-primary bg-dark" unless current_user.nil? %>
