<%= render @beer_club %>

<div id="members">
  <h3>Members</h3>
  <ul>
    <% @beer_club.users.each do |user| %>
      <li>
        <%= link_to user.username, user %>
      </li>
    <% end %>
  </ul>
</div>

<% if current_user && !current_user.member?(@beer_club) %>
  <%= form_with(model: @membership) do |form| %>
    <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "Join the beer club", class: "btn bg-dark btn-primary" %>
  <% end %>
<% elsif current_user %>
  <%= form_with(model: @membership, method: :delete) do |form| %>
    <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "End the membership", class: "btn btn-secondary" %>
  <% end %>
<% end %>

<p>
  <%= edit_and_destroy_buttons(@beer_club) %>
</p>
<div>
  <%= link_to "Back to beer clubs", beer_clubs_path %>
</div>
