<p style="color: green"><%= notice %></p>

<%= render @beer_club %>

<div id="members">
  <h3>Members</h3>
  <ul>
    <% @beer_club.users.each do |user| %>
      <li>
        <%= link_to user.username, user %>
      </li>
    <% end %>
  </ul>
</div>

<% if current_user && !current_user.member?(@beer_club) %>
  <%= form_with(model: @membership) do |form| %>
    <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "Join the beer club" %>
  <% end %>

  <p>
    <%= button_to "Destroy this beer club", @beer_club, method: :delete unless current_user.nil? %>
    <%= link_to "Edit this beer club", edit_beer_club_path(@beer_club) unless current_user.nil? %> |
  </p>
<% end %>
<div>
  <%= link_to "Back to beer clubs", beer_clubs_path %>

</div>
