<p style="color: green"><%= notice %></p>

<p>
  <strong>Username:</strong>
</p>

<p>
  <%= @user.username %>
</p>

<p>
  Has made <%= @user.ratings.count %> ratings,
  average rating <%= @user.average_rating %>
</p>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
