<p style="color: green"><%= notice %></p>

<p>
  <strong>Username:</strong>
</p>
<p>
  <%= @user.username %>
</p>
<p>
  Has made <%= @user.ratings.count %> ratings,
  average rating <%= @user.average_rating %>
</p>

<div id="clubs">
  <h3>Member of</h3>
  <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li>
        <%= link_to beer_club.name, beer_club %>
      </li>
    <% end %>
  </ul>
</div>

<div id="ratings">
  <p>
    <strong>ratings</strong>
  </p>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating.beer.name %> <%= rating.score %>
        <% if @user == current_user %>
          <%= button_to 'delete', rating, method: :delete,
                        form: {
                          data: {
                            turbo_confirm: "Are you sure you want to delete the following rating?\n#{rating}"
                          }
                        }
          %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<p>
  <%= link_to "Back to users", users_path %>
</p>
<% if @user == current_user %>
  <p>
    <%= link_to "Change password", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  </p>
<% end %>