<p style="color: green"><%= notice %></p>

<h1>List of ratings</h1>

<p>Number of ratings: <%= @ratings.count %></p>

<div id="ratings">
  <ul>
    <% @ratings.each do |rating|  %>
      <li>
        <%= rating.beer.name %> <%= rating.score %>
        <%= button_to 'delete', rating, method: :delete,
                      form: {
                        data: {
                          turbo_confirm: "Are you sure you want to delete the following rating?\n#{rating}"
                        }
                      }
        %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Create New Rating', new_rating_path %>
</div>