<p style="color: green"><%= notice %></p>

<h1>List of ratings</h1>

<p>Number of ratings: <%= @ratings.count %></p>

<div id="ratings">
  <ul>
    <% @ratings.each do |rating| %>
      <li>
        <%= rating.beer.name %> <%= rating.score %> <%= link_to rating.user.username, rating.user %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Create New Rating', new_rating_path unless current_user.nil? %>
</div>