<h1>Ratings</h1>

<div id="top_threes" class="container mt-4 mb-4">
  <div class="row">
    <div class="col-sm-5">
      <h4 class="text-warning">Best breweries</h4>
      <%= render 'rating_table', id: "top_breweries_table", title: "Brewery", list: @top_breweries %>
    </div>

    <div class="col-sm-5">
      <h4>Best beers</h4>
      <%= render 'rating_table', id: "top_beers_table", title: "Beer", list: @top_beers %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <h4>Best styles</h4>
      <%= render 'rating_table', id: "top_ratings_table", title: "Rating", list: @top_styles %>
    </div>

    <div class="col-sm-5">
      <h4 class="text-warning">Most active users</h4>
      <ol>
        <% @top_users.each do |user| %>
          <li>
            <%= user.username %> <%= pluralize(user.ratings.length, "rating", plural: "ratings") %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

</div>


<div id="recent_ratings">
  <h4 class="text-warning">Recent ratings</h4>
  <ul>
    <% @recent.each do |rating| %>
      <li>
        <%= rating.beer.name %> <%= rating.score %> <%= link_to rating.user.username, rating.user %> <%= rating.created_at.localtime %>
      </li>
    <% end %>
  </ul>
</div>


<%= link_to 'Create New Rating', new_rating_path, class: "btn btn-primary" unless current_user.nil? %>
