<%= form_with(model: style) do |form| %>
  <% if style.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
        <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :beer_type, class: "form-label" %>
  <%= form.text_field :beer_type, class: "form-control text-bg-dark  mb-3" %>
  <%= form.label :description, class: "form-label" %>
  <%= form.text_area :description, class: "form-control text-bg-dark  mb-3" %>

  <%= form.submit class: "btn btn-outline-primary" %>

<% end %>
