
<%= render @style %>

<ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this style", edit_style_path(@style) unless !current_user %> |
  <%= link_to "Back to styles", styles_path %>

  <%= button_to "Destroy this style", @style, method: :delete unless !current_user %>
</div>
