<div id="<%= dom_id brewery %>">
  
  <h2><%= brewery.name %></h2>

  <p>
    <i>Established in <%= brewery.year %></i>
  </p>

  <p>
    Number of beers: <%= brewery.beers.count %>
  </p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <p>
    Brewery has <%= brewery.ratings.count %> ratings with an average of <%= brewery.average_rating %>
  </p>
</div>
