<%= form_with(model: brewery) do |form| %>
  <% if brewery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
        <% brewery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name, class: "form-label" %>
  <%= form.text_field :name, class: "form-control text-bg-dark  mb-3" %>

  <%= form.label :year, class: "form-label" %>
  <%= form.number_field :year, class: "form-control text-bg-dark  mb-3" %>

  <div class="form-check mb-3">
    <%= form.label :active, class: "form-check-label" %>
    <%= form.check_box :active, class: "form-check-input" %>
  </div>

  <%= form.submit class: "btn btn-outline-primary" %>

<% end %>
