[ <%= link_to 'List of Beers', beers_path %> ]

<p style="color: green"><%= notice %></p>

<h1>Breweries</h1>

<p>Number of breweries: <%= @breweries.count %></p>

<div id="breweries">
  <% @breweries.each do |brewery| %>
     <div id="<%= dom_id brewery %>">
      <p>
        <%= link_to brewery.name, brewery %>
      </p>
      <p>
        <strong>Year:</strong>
        <%= brewery.year %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New brewery", new_brewery_path %>
