<!--Rainbow-coloured title: Breweries-->
<h1>
  <span class="block-line">
    <span style="color:#ff0000;">B</span><span style="color:#ffaa00;">r</span><span style="color:#aaff00;">e</span><span style="color:#00ff00;">w</span><span style="color:#00ffaa;">e</span><span style="color:#00aaff;">r</span><span style="color:#0000ff;">i</span><span style="color:#aa00ff;">e</span><span style="color:#ff00aa;">s</span>
  </span>
</h1>

<h2>Active</h2>

<p>Number of active breweries: <%= @active_breweries.count %></p>

<div id="active_breweries">
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>Beers</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @active_breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
        <td><%= brewery.beers.count %></td>
        <td><%= round(brewery.average_rating) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h2>Retired</h2>

<p>Number of retired breweries: <%= @retired_breweries.count %></p>

<div id="retired_breweries">
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>Beers</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @retired_breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
        <td><%= brewery.beers.count %></td>
        <td><%= round(brewery.average_rating) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<p>
  <%= link_to "List of beers", beers_path %>
</p>
<%= link_to "New brewery", new_brewery_path, class: "btn btn-primary" unless current_user.nil? %>
