<div id="<%= dom_id beer %>">

  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style.beer_type %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <% if beer.ratings.empty? %>
    Beer has not yet been rated!
  <% else %>
    <p>
      Beer has <%= pluralize(beer.ratings.count, "rating", plural: "ratings") %> with an average
      of <%= beer.average_rating %>
    </p>
  <% end %>

</div>
