<% cache @beer do %>
  <%= render @beer %>
<% end %>

<% if current_user %>
  <h4>Rate this beer:</h4>

  <%= form_with(model: @rating) do |form| %>
    <%= form.hidden_field :beer_id, class: "form-label" %>
    score: <%= form.number_field :score, class: "form-control text-bg-dark  mb-3" %>
    <%= form.submit "Create rating", class: "btn bg-dark btn-primary mb-3" %>
  <% end %>
<% end %>

<p>
  <%= edit_and_destroy_buttons(@beer) %>
</p>
<p>
  <%= link_to "Back to beers", beers_path %>
</p>
