<%= render @beer %>

<% if current_user %>
  <h4>Rate this beer:</h4>

  <%= form_with(model: @rating) do |form| %>
    <%= form.hidden_field :beer_id %>
    score: <%= form.number_field :score %>
    <%= form.submit "Create rating", class: "btn btn-primary" %>
  <% end %>

  <p>
    <%= button_to "Destroy this beer", @beer, method: :delete, class: "btn btn-danger"  %>
    <%= link_to "Edit this beer", edit_beer_path(@beer) %>
  </p>
<% end %>

<p>
  <%= link_to "Back to beers", beers_path %>
</p>
