<p style="color: green"><%= notice %></p>

<%= render @beer %>

<% if current_user %>
  <h4>Rate this beer:</h4>

  <%= form_with(model: @rating) do |form| %>
    <%= form.hidden_field :beer_id %>
    score: <%= form.number_field :score %>
    <%= form.submit "Create rating" %>
  <% end %>

  <p>
    <%= button_to "Destroy this beer", @beer, method: :delete %>
    <%= link_to "Edit this beer", edit_beer_path(@beer) %>
  </p>

  <p>

  </p>
<% end %>

<p>
  <%= link_to "Back to beers", beers_path %>
</p>
