<p style="color: green"><%= notice %></p>

<h1>Beer places search</h1>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>

<% if @weather %>
  <h4>The current beer weather in <%= @weather.location %></h4>

  <p><%= @weather.temperature %> Celcus</p>
  <% @weather.icon_urls.each do |url| %>
    <img src="<%= url %>" alt="weather_icon">
  <% end %>
  <p><b>wind</b> <%= @weather.wind_speed %>, <b>direction</b> <%= @weather.wind_dir %></p>
<% end %>

<% if @places %>
  <table>
    <thead>
    <th>id</th>
    <th>name</th>
    <th>status</th>
    <th>street</th>
    <th>city</th>
    <th>zip</th>
    <th>country</th>
    <th>overall</th>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.id %></td>
        <td><%= link_to place.name, place_path(place.id) %></td>
        <td><%= place.status %></td>
        <td><%= place.street %></td>
        <td><%= place.city %></td>
        <td><%= place.zip %></td>
        <td><%= place.country %></td>
        <td><%= place.overall %></td>
      </tr>
    <% end %>
  </table>
<% end %>