<p style="color: green"><%= notice %></p>

<div id="<%= @place.id %>">

  <h2><%= @place.name %></h2>

  <a target="_blank" href="<%= @place.reviewlink %>">Beermapping review</a>

  <h3>Address</h3>
  <p>
    <%= "#{@place.street}" %> <br>
    <%= "#{@place.zip} #{@place.city}, #{@place.country}" %>
  </p>

  <h3>Phone</h3>
  <p>
    <%= "#{@place.phone}" %>
  </p>

</div>

<div>
  <%= link_to "Back to places", places_path %>
</div>
